<div class="row">
  <div class="one-half column">
    <div class="center">
      <%= color_status_total_balance(total_balance) %>
      My balance
    </div>
    <div>
      <table class="u-full-width" id="accounts-table">
        <tbody>
          <% accounts.each do |account| %>
            <tr>
              <td><%= account.name %></td>
              <td><%= account.balance %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <ul class="tab-nav one-half column">
      <li>
        <a class="button <%= tab_active?('withdraw') %>" href="?tab=withdraw">Withdraw</a>
      </li>
      <li>
        <a class="button <%= tab_active?('transfer') %>" href="?tab=transfer">Transfer</a>
      </li>
      <li>
        <a class="button <%= tab_active?('income') %>" href="?tab=income">Income</a>
      </li>
    </ul>
  </div>
  
  <div class="tab-content one-half column">
    <div class="tab-pane <%= tab_nil?('withdraw') %>" id="withdraw">
      <%= render 'withdraw' %>
    </div>

    <div class="tab-pane <%= tab_pane_active?('transfer') %>" id="transfer">
      <%= render 'transfer' %>
    </div>
    <div class="tab-pane <%= tab_pane_active?('income') %>" id="income">
      <%= render 'income' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="one-half column dashboard_pie_chart">
    <%= pie_chart AmountSumQuery.new(current_user).amount_sum_series, title: 'Last 30 days expenses', defer: true %>
  </div>

  <div class="one-half column dashboard_records">
    <h5 class='records_table_head'>Last 10 records</h5>
    <table class='records_table'>
      <% records.last(10).each do |record| %>
        <% if record.category.name == "Transfer" %>
          <%= render 'record', record: record %>
        <% else %>
          <tr>
          <td><%= record.account.name %></td>
          <td><%= record.category.name %></td>
          <td><%= record.amount %> грн</td>
          <td><%= record.created_at.strftime("%d-%m at %H:%M") %></td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
