<div class="row">
  <div class="one-half column">
    <div>
      <table class="u-full-width" id="accounts-table">
        <tbody>
          <% @accounts.each do |account| %>
            <tr>
              <td><%= account.name %></td>
              <td><%= account.balance %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <%= pie_chart AmountSumQuery.new(current_user).amount_sum_series, title: 'Last 30 days expenses' %>
    </div>
  </div>
  
  <div class="one-half column">
    <%= form_with(model: @record, local: true, url: records_path) do |form| %>

      <tr class="field">
        <%= form.label :account_id %>
        <%= select("record", :account_id, @accounts.collect {|a| [ a.name, a.id ] }, { include_blank: false }, { class: 'dashboard_field' }) %>
      </tr>

      <tr class="field">
        <%= form.label :category_id %>
        <%= select("record", :category_id, @categories.collect {|c| [ c.name, c.id ] }, { include_blank: false }, { class: 'dashboard_field' }) %>
      </tr>

      <tr class="field">
        <%= form.label :amount %>
        <%= form.text_field :amount, required: true %>
      </tr>

      <tr class="actions">
        грн <%= form.submit 'Submit' %>
      </tr>
    <% end %>
  </div>
</div>
