<div class="row">
  <div class="six columns">
    <%= form_for @category.becomes(Category) do |f| %>
     <label>Category name</label>
      <%= f.text_field :name, placeholder: "New category name" %>

      <% if @category.new_record? %>
        <label>Category type</label>
        <%= f.select :type, [["Withdraw", WithdrawCategory.name], ["Income", IncomeCategory.name]] %>
      <% end %>

      <div>
        <%= f.submit 'Save', class: "button-secondary" %>
        <%= link_to 'Back', categories_path%>
      </div>
    <% end %>
  </div>
</div>
