<!DOCTYPE html>
<html>
  <head>
    <title>Wimm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="skeleton-tabs.css">
  </head>

  <body class="container">
    <% if user_signed_in? %>
      <%= render 'dashboard/navigation' %>
    <% else %>
      <%= render 'home/navigation' %>
    <% end %>
    <% flash.each do |key, value| %>
      <div><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
